<footer class="main">
    <div class="container">

        <div class="logo col-md-4"> </div>

        <div class="content col-md-8">
            <ul class="links">
                <li><a href="#">Como Funciona</a></li>
                <li><a href="#">Perguntas Frequentes</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>

            <ul class="social">
                <li></li>
                <li></li>
                <li></li>
            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <span class="copyright">© 2016 Descontador. Todos os direitos reservados.</span>
            <span class="author"><a href="#"></a></span>
        </div>

    </div>
</footer>