<header class="main">

    <nav class="navbar navbar-fixed-top">
        <div class="container no-padding">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="material-icons action hidden-md hidden-lg">menu</i>
                </button>

                <a class="navbar-brand" href="/"><i class="logo-navbar center-block"></i></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control type" placeholder="ps4, playstation">
                    </div>
                    <button type="submit" class="btn" ng-click="search.submit()"><i class="material-icons md-24 action">search</i></button>
                </form>


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)" ng-click="register.open()">Cadastre-se</a></li>
                    <li><a href="javascript:void(0)" ng-click="login.open()"><strong>Login</strong></a></li>
                </ul>
            </div>

        </div>
    </nav>

    <nav class="sub-navbar navbar-fixed-top">
        <div class="container no-padding">
            <ul class="nav navbar-nav">
                <li class="dropdown department">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">menu</i> Departamentos</a></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]"><a href="#"> Categoria {{i}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lojas <i class="material-icons no-margin">keyboard_arrow_down</i></a>
                    <ul class="dropdown-menu store">
                        <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]"><a href="#"><i class="store-icons americanas"></i> <span class="name">Americanas {{i}} <span class="url">www.americanas.com.br</span></span></a></li>
                        <li><a href="#"><i class="material-icons">more_horiz</i> Ver Todas</a></li>
                    </ul>
                </li>
                <li><a href="#">Cupons</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="send-offer"><a href="javascript:void(0)">Enviar Ofertas <i class="material-icons">send</i></a></li>
            </ul>
        </div>
    </nav>
</header>

