<div id="terms" page="terms">

    <div class="main container">

        <!-- /begin newsletter -->
        <div class="newsletter">
            <div class="row">
                <div class="col-md-4">
                    <i class="newsletter-icons mail"></i>
                    <span>Cadastre-se e receba as melhores promoções:</span>
                </div>

                <div clas="col-md-8">
                    <form id="newsletter" class="form-inline" action="#">

                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="name" placeholder="Digite seu nome." />
                        </div>

                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="email" placeholder="Digite seu e-mail." />
                        </div>

                        <div class="form-group col-md-2">
                            <button class="btn btn-default">Receber<br>Promoção</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /end newsletter -->

        <div class="content">

            <div class="row">
                <div class="col-md-6">
                    <div class="info">
                        <header>
                            <h2>Termos de Uso <span class="line-box"></span></h2>
                        </header>

                        <p>Última atualização: <b>01/01/2017 às 14:00</b>.</p>

                        <ul class="links">
                            <li><a href="/contact-us">Contato</a></li>
                            <li class="active"><a href="/terms">Termos de Uso</a></li>
                            <li><a href="/policy">Política de Privacidade</a></li>
                            <li><a href="/faq">Perguntas Frequentes</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="text">
                        <header>
                            <h2>O melhor lorem ipsum do mundis.</h2>
                        </header>

                        <p>Mussum Ipsum, cacilds vidis litro abertis. Não sou faixa preta cumpadi, sou preto inteiris, inteiris. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Viva Forevis aptent taciti sociosqu ad litora torquent Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!</p>

                        <p>Atirei o pau no gatis, per gatis num morreus. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Detraxit consequat et quo num tendi nada. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose.</p>

                        <p>Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Leite de capivaris, leite de mula manquis. Per aumento de cachacis, eu reclamis.</p>

                        <p>Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Cevadis im ampola pa arma uma pindureta. Delegadis gente finis, bibendum egestas augue arcu ut est. Ta deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.”</p>

                        <p>Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Quem manda na minha terra sou Euzis! Sapien in monti palavris qui num significa nadis i pareci latim.  Paisis, filhis, espiritis santis.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>