<div id="new-offer" page="new-offer">

    <div class="main container no-padding">

        <!-- /begin newsletter -->
        <div class="newsletter">
            <div class="row">
                <div class="col-md-4">
                    <i class="newsletter-icons mail"></i>
                    <span>Cadastre-se e receba as melhores promoções:</span>
                </div>

                <div clas="col-md-8">
                    <form id="newsletter" class="form-inline" action="#">

                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="name" placeholder="Digite seu nome." />
                        </div>

                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" id="email" placeholder="Digite seu e-mail." />
                        </div>

                        <div class="form-group col-md-2">
                            <button class="btn btn-default">Receber<br>Promoção</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /end newsletter -->

        <!-- /begin subtitle -->
        <div class="subtitle">
            <header>
                <h3>Inserir Oferta</h3>
            </header>
        </div>
        <!-- /end subtitle -->

        <!-- /begin form -->
        <div class="form-default">
            <p>Encontrou uma oferta? Selecione o tipo abaixo e preencha o formulário com os dados da oferta. A equipe de moderação do descontador irá verificar a validade da oferta. Pronto! Sua oferta é publicada no descontador e todo mundo economiza com segurança.</p>

            <div class="row">
                <div class="col-md-6 select-type">
                    <span ng-click="offer.go('/new-offer/product')">Produto</span>
                </div>

                <div class="col-md-6 select-type">
                    <span ng-click="offer.go('/new-offer/coupon')">Cupom de Desconto</span>
                </div>
            </div>
        </div>
        <!-- /end form -->

    </div>

</div>