// Header
header.main {
  height: 170px;

  .navbar {
    padding-top: 3px;
    border-bottom: 1px solid $light;
    height: 105px;
    background: $white;

    .navbar-toggle {
      margin: 0;
      font-size: 33px;
      border: none;
    }

    .navbar-brand {

      .logo-navbar {
        background: url('../images/logos/header-descontador.png') no-repeat center;
        display: block;
        width: 267px;
        height: 65px;
      }
    }

    .navbar-collapse {


    }

    .navbar-right {
      margin-top: 30px;
      margin-right: 0;

      li {
        margin-right: 10px;

        a {
          border: 1px solid $silver;
          border-radius: 4px;
          padding: 8px 13px;
          font-size: 14px;
          color: $text;

          &:hover {
            background: $orange;
            border-color: $orange;
            color: $white;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    form.navbar-form {
      padding: 0;
      margin: 30px 0 0 50px;

      input, select, textarea {
        padding: 20px 10px;
        margin: 0;
        width: 370px;
        border-color: $light;
        color: $text;

        &:hover, &:focus, &:active {
          border-color: $silver;
        }
      }

      .btn {
        padding: 7px 9px 2px !important;
        margin-left: -48px !important;
        background: $orange;
        color: white;
        -webkit-border-radius: 4px;
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius: 4px;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-radius: 4px;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
    }
  }

  .sub-navbar {
    top:105px !important;
    background: $white;

    ul.navbar-nav {

      li {

        a {
          line-height: 24px;
          color: $text;
          padding: 10px 15px;
          margin: 10px 5px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;

          i {
            vertical-align: top;

            &.no-margin {
              margin: 0;
              padding: 0;
            }

            &.margin-left {
              margin-left: 5px;
            }
          }

          &:hover, &:focus{
            background: $orange;
            color: $white;
          }
        }

        .dropdown-menu {
          min-width: 680px;
          -webkit-column-count: 3; /* Chrome, Safari, Opera */
          -moz-column-count: 3; /* Firefox */
          column-count: 3;
          padding-bottom: 5px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid $silver;

          li {
            font-weight: 400;
            display: block;
            clear: both;
            padding: 10px 20px;
            margin: 0;
            height: 48px;
            border-bottom: 1px solid $silver;

            a {
              font-weight: 400;
              padding: 0;
              margin: 0;

              .name {
                float: left;
                margin: 0;
                padding: 0;
                line-height: 1;

                .url {
                  display: block;
                  font-size: $font-small;
                  font-weight: 100;
                }
              }

              i.store-icons {
                float: left;
                margin: 0 10px 0 0;
                width: 24px;
                height: 24px;
                display: inline-block;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;

                &.americanas {
                  background: url('../images/icons/store-americanas.png') no-repeat;
                }
              }

              &:hover {
                background: none;
                color: $text;
              }
            }

            &:nth-child(6), &:nth-child(12) {
              border: none;
            }

            &:last-child {
              font-weight: 700;
              font-size: 11px;
              letter-spacing: 1px;
              text-transform: uppercase;
              border: none;
              padding-top: 13px;

              i {
                line-height: 22px;
              }
            }
          }
        }

        &.department {

          .dropdown-menu {
            min-width: 720px;

            li {

              a {

                &:hover {
                  color: $orange;
                }
              }

              &:nth-child(6), &:nth-child(12) {
                border-bottom: 1px solid $silver;
              }

              &:nth-child(8), &:nth-child(16) {
                border: none;
              }

              &:last-child {
                font-weight: 400;
                font-size: $font-default;
                letter-spacing: 0;
                text-transform: none;
                border: none;
                padding-top: 10px;

                i {
                  line-height: 22px;
                }
              }
            }
          }
        }

        &.send-offer {

          a {
            background: $blue;
            color: $white;
            text-transform: uppercase;
            font-size: $font-small;
            font-weight: 300;

            i {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .navbar-nav.navbar-right {
    margin-right: 0;
  }
}