// New Offer
div#new-offer {
  padding: 15px 0;
  background: $silver;

  p {
    line-height: 18px;
  }

  .select-type {

    span {
      color: $green;
      background: transparent;
      text-align: center;
      display: block;
      font-size: 28px;
      font-weight: 700;
      padding: 55px;
      border-radius: 4px;
      border: 3px solid $green;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        background: $green;
        color: $white;
        border-color: $green;
      }
    }
  }

  .form-default {
    background: $white;
    padding: 20px 30px;
    margin: 15px 0;

    form {
      margin-top: 15px;

      .form-group {

        .radio {
          float: left;
        }
      }

      textarea {
        border: 1px solid $silver;
        max-height: 200px;
        height: 200px;
      }

      ul.editor {
        margin: 20px 0;

        li {
          display: inline-block;
          width: 36px;
          height: 36px;
          border: 1px solid $silver;
          border-radius: 4px;
          padding: 5px;
          text-align: center;
          line-height: 36px;
          color: $text;

          i {
            font-size: 24px;
            cursor: pointer;
          }

          &.no-border {
            border: none;
            line-height: 1;
            width: auto;
            padding: 0;
          }

          &:hover {
            background: $dark;
            color: $white;
            border: 1px solid $dark;
          }
        }

        &.editor {
          margin: 20px 0;
        }

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }
      }
    }
  }
}