//Register
.register-modal {
  background: $white !important;
  color: $text;
  font-weight: 300;
  width: 920px !important;
  padding: 0 !important;

  div.register {

    div.banner {
      background: $dark;
      height: 100%;
      min-height: 650px;

      .logo {
        background: url('../images/logos/modal-descontador.png') no-repeat center;
        display: block;
        width: 465px;
        height: 375px;
        position: absolute;
        bottom: 0;
        right: -50px;
      }

      header {
        padding: 30px;

        h2 {
          font-size: 21px;
          color: $white;
        }
      }

    }

    div.content {
      padding: 65px 90px;

      header {
        margin-bottom: 15px;
        text-align: center;

        h2 {
          font-size: 21px;

          @media (max-width: $screen-sm) {
            font-size: 21px;
          }
        }
      }

      .social-network {

        li {

          a {
            background: #3c5699;
            border: 2px solid #3c5699;
            padding: 7px;
            display: block;
            text-align: center;
            font-size: 21px;
            color: $white;
            line-height: 36px;
            -webkit-transition: none;
            -o-transition: none;
            transition: none;
            @include border-radius(4px);

            span {
              height: 36px;
              width: 36px;
              background: $text;
              display: inline-block;
              border-radius: 24px;
              line-height: 36px;
              vertical-align: bottom;
            }

            .symbol {
              color: $white;
              font-size: 48px;
              margin: -2px;
            }

            &:hover {
              background: transparent;
              color: #3c5699;

              span {
                background: $dark;

                .symbol {
                  color: $orange;
                }
              }
            }
          }
        }
      }

      div.division {
        position: relative;
        display: block;
        margin: 20px 0;
        text-align: center;
        font-size: 21px;
        color: $silver;

        span {
          background: $white;
          padding: 10px;
        }

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          border-top: solid 1px $silver;
          z-index: -1;
        }

        @media (max-width: $screen-sm) {
          margin: 20px 0;
        }
      }

      form {

        ul {

          li {
            margin-bottom: 15px;

            input {
              font-size: 14px;
              padding: 12px;
              height: auto;
              color: $text;
              background: transparent;
              border: 2px solid $silver;
              @include border-radius(4px);

              &::-webkit-input-placeholder {
                color: $text;
              }

              &:-moz-placeholder {
                color: $text;
              }

              &::-moz-placeholder {
                color: $text;
              }

              &:-ms-input-placeholder {
                color: $text;
              }
            }

            button {
              background: $orange;
              color: $white;
              display: block;
              width: 100%;
              font-size: 21px;
              font-weight: 300;
              padding: 10px;
              border: 2px solid $orange;

              &:hover {
                background: transparent;
                color: $orange;
              }
            }

            a {
              color: $text;

              &:hover {
                color: $orange;
              }
            }

            span {
              display: block;
              margin: 10px 0;
              color: $text;
              font-size: $font-small;
            }

            &:last-child {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
}